<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form  action="/" method="post">
        <p>Name: <input type="text" name="name" value="dog name"> </p>
        <p>Breed: <input type="text" name="breed" value="dog breed"> </p>
        <p>Age: <input type="text" name="age" value="dog age"> </p>
        <input type="submit" value="Create Dog" id="submit">
      </form>
  </body>
</html>
