<h2> To submit a puppy up for adoption do dis: <h2>
<form method="POST" action="/new" >
  Puppy name: <input type="text" name="name"></input><br><br>
  Breed: <input type="text" name="breed"></input><br><br>
  Age: <input type="text" name="age"></input><br><br>
  Submit <input type="submit", value="submit"></input>
</form>
