<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1></h1>
    <form method="post" action="/">
    <p>Enter your name:</p>
    <input type="text" name="name" id="name">
    <p>Enter your age:</p>
    <input type="text" name="age" id="age">
    <p>Enter your breed:</p>
    <input type="text" name="breed" id="breed">
    <input type="submit" value="submit">
    </form>
  </body>
</html>
