<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create Puppy</h1>
    <form method="POST" action="/puppy">
      <label for="phrase">Enter puppy info:</label>
      <input type="text" name='name'>
      <input type="text" name='breed'>
      <input type="text" name='age'>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
